[Unit]
Description=Prometheus SQL Exporter {{ prom_sexp_version }} for target {{ prom_sexp_target.name }}
Documentation=https://github.com/lrk/ansible-role-prometheus-sql-exporter
After=network-online.target

[Service]
User={{ prom_sexp_user }}
Restart=on-failure
RestartSec=10
ExecStart={{ prom_sexp_path_install }}/sql_exporter \
          -config.file={{ prom_sexp_target_config_file }} \
          -log.level={{ prom_sexp_log_level | lower }} \
          -web.listen-address={{ prom_sexp_target_listen_address }} \
          -web.metrics-path={{ prom_sexp_target_metrics_path }}

[Install]
WantedBy=multi-user.target
