###############################################################################
#
# Global settings and defaults for target {{ name }}.
# See https://github.com/free/sql_exporter/blob/master/documentation/sql_exporter.yml
#
###############################################################################

global:
  scrape_timeout: {{ scrape_timeout }}
  scrape_timeout_offset: {{ scrape_timeout_offset }}
  min_interval: {{ min_interval }}
  max_connections: {{ max_connections }}
  max_idle_connections: {{ idle_connections }}

target:
  data_source_name: {{ data_source_name }}
  collectors: {{ collector_names }}

{% if prom_sexp_collector_files_globs is defined and prom_sexp_collector_files_globs != None %}
collector_files:
{% for file_glob in prom_sexp_collector_files_globs %}
  - {{ file_glob }}
{% endfor%}
{% endif %}
